/* 
style.css
Planet CRUD app
Name: Brittany Kyncl
Date: 9.23.23
styling for Britt_mod9 planets C.R.D application
*/
.list-group-item form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.list-group-item button {
    min-width: 130px;
    margin-left: 10px;
}

.navbar-nav {
    display: flex;
    gap: 30px;
}
#logout-button{
    padding: 0px 15px 0px 30px;
}
.nav-link {
    color: white;
    background-color: transparent;
    transition: background-color 0.3s ease;
    position: relative;
    padding: 5px 10px;
    width: auto;
}
.nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; 
    bottom: 0;
    left: 0;
    background-color: transparent;
    transform: scaleX(0); 
    transform-origin: bottom center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.nav-link:hover::before {
    transform: scaleX(1); 
    background-color: #28a745; 
}

.nav-link.active::before {
    transform: scaleX(1); 
    background-color: #28a745;
}
.fa-bars {
    color: #fff;
    font-size: 32px;
}
.navbar-toggler:focus{
    outline: none;
}
/* Media query to apply styles only when the screen width is less than 768px (adjust as needed) */
@media (max-width: 989px) {
    /* Styles for the navbar menu when it's expanded */
    .navbar-collapse {
        padding: 30px;
    }
    #logout-button {
        padding: 25px 0 0 0;
        float: right;
    }
}

